.card__container {
    padding: 1rem 2rem;
    cursor: pointer;
}

.card__img {
    transition: all .5s;
}

.card__img:hover {
    transform: scale(1.1);
    overflow: visible;
}

.card__desc {
    margin-top: 1rem;
}