.banner__container {
    margin-top: 4rem;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}



.banner__typography {
    padding-left: 15px;
    padding-top: 5px;
    grid-column: span 1;
    width: 100%;

}

.banner__typography h1 {
    font-size: 45px;
    line-height: 2.6rem;
}

.banner__typography p {
    color: rgb(91, 91, 91);
    margin-top: 12px;
}

.banner__images {
    margin: 3rem 0;
}

@media (min-width:1024px) {
    .banner__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner__images {
        grid-column: span 2;
    }
}